<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hallbooking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_appicons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_appicons_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HallBooking">
        <activity
            android:name=".UserHome"
            android:exported="false" />
        <activity
            android:name=".BookedHalls"
            android:exported="false" />
        <activity
            android:name=".EditHalls"
            android:exported="false" />
        <activity
            android:name=".HallDetails"
            android:exported="false" />
        <activity
            android:name=".TotalHalls"
            android:exported="false" />
        <activity
            android:name=".NewHalls"
            android:exported="false" />
        <activity
            android:name=".UserDetails"
            android:exported="false" />
        <activity
            android:name=".AllUsers"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".DetailsFragment"
            android:exported="false" />

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLogin"
            android:exported="false" />
        <activity
            android:name=".SelectUser"
            android:exported="false" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>